@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Serif', serif;
}

.div1{
  height: 100vh;
  background: url(assets/bg.jpg) no-repeat center center/ cover;
  box-shadow: inset 0 0 0 100vh rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div1 h1{
  font-size: 5.5rem;
}

.div2 button{
  border: none;
  border-radius: 5px;
  margin-right: 15px;
  padding: 10px 35px;
  margin-top: 35px;
  text-align: center;
  font-size: 1.25rem;
  cursor: pointer;
}

.div2 .start-btn{
  background-color: green;
  color: #fff;
}

.div2 .start-btn:hover{
  background-color: rgb(0, 80, 0);
  color: #fff;
}

.div2 .reset-btn{
  background-color: red;
  color: #fff;
}

.div2 .reset-btn:hover{
  background-color: rgb(119, 5, 5);
  color: #fff;
}

.div2 .pause-btn{
  background-color: rgb(66, 66, 66);
  color: #fff;
}

.div2 .pause-btn:hover{
  background-color: rgb(161, 161, 161);
  color: #fff;
}


